NEO4J_URL=bolt://host.docker.internal:7687
NEO4J_DEV_URL=bolt://a803-2603-7000-3400-7e4b-5400-3292-b301-4360.ngrok-free.app:7687
NEO4J_USER=neo4j
NEO4J_NAME=kg
NEO4J_PASSWORD=mysecretpassword

NEXT_PUBLIC_PREFIX=
NEXT_PUBLIC_SCHEMA=https://raw.githubusercontent.com/MaayanLab/KnowledgeGraphDemo/main/schema.json
NEXT_PUBLIC_DOMAINS=minio.dokku.maayanlab.cloud,github.com,minio.dev.maayanlab.cloud,s3.amazonaws.com
NEXT_PUBLIC_HOST=http://localhost:3000